h1{
  text-align:center;
  color:white;
  background:pink,orange,white;
  padding: 5px;
}

body {
  background-image:url(https://img.freepik.com/photos-premium/ballon-basket-ball-lignes-lumineuses-fond-clair-neon-bleu-rose-colore_676326-1.jpg);
  padding:15px;
  font-family: white;
  
}
.colonne1 {
  width: 48%;
  float: left;
} 

.colonne2 {
  width:48%;
  float: right;
}

img{
  max-width: 100%;
}

.photo{
  box-shadow:4px 4px 4px gray;
  transform: rotate(10deg);
}

h2{
  color:white;
  background:pink,white;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  box-shadow: 2px 2px 2px gray;
  text-align:center;
}

.item {
  padding: 10px;
  margin-bottom: 10px;
  border: 3px dashed teal;
}

 #club{
  font-size: 23px;
  color: purple;
  background:linear-gradient( purple, pink, pink , white , white , pink , purple);
  padding: 30px;
  border-radius: 5px;
  text-align: center;
 }
 #basket {
   height : 100px;
   position: absolute;
   left: -200px;
   animation: slide 2s infinite;
 }
 @keyframes slide {
   0% {left: -200px}
   50% {left: 0}
   100% {left: -200px}
 }
 
  
 
 

  